# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
bulid/

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# for Mac OS X System Files
.DS_Store
*/.DS_Store
*.dSYM
.vscode/
./git
Thumbs.db

# Cmake
CMakeFiles
CMakeCache.txt
*.cmake
*.make
Makefile
